<!doctype html>
<html>
<head>
    <title>Authentification</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body         { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span>S'authentifier</h1>

    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->

    <!-- Changer action dynamiquement -->
    <form id="loginForm" action="/login" method="post">
        <div class="form-group">
            <label>Courriel</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Mot de passe</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Se connecter</button>
    </form>

    <hr>

    <p>Pas de compte? <a href="/signup">Créer compte</a></p>
    <p>Mode invité <a id="linkModeInvite" href="/login?modeinvite=true">Naviguer sans compte</a>.</p>


    <script>

      function getQueryVariable(variable) {
         var query = window.location.search.substring(1);
         var vars = query.split("&");
         for (var i=0;i<vars.length;i++) {
           var pair = vars[i].split("=");
           if (pair[0] == variable) {
             return pair[1];
           }
         } 
      }

      var callbackParam = getQueryVariable('callback');
      if(callbackParam) { 
        var loginForm = document.getElementById("loginForm");
        loginForm.action = "/login?callback=" + encodeURIComponent(callbackParam);

        var linkModeInvite = document.getElementById("linkModeInvite");
        linkModeInvite.href = linkModeInvite.href + "&callback=" + encodeURIComponent(callbackParam);

      }

    </script>


</div>
</div>
</body>
</html>
