input(id='inputRow',  (keyup)="onKeyRow($event)", value='20')
br
input(id='inputMargin',  (keyup)="onKeyMargin($event)", value='9')


//casse-tete(*ngFor="let puzzle of puzzles" [puzzle]="puzzle")

#puzzle(style='width:100%;padding:20px;')
  .tilewrapper
    .position
      div( *ngFor="let puzzle of puzzles")
        casse-tete([puzzle]="puzzle")
