div.tile.tileimage.shadow.border(id='TILE_{{puzzle.id}}', [ngStyle]="setStyles(puzzle)")
      //
        #TILE_0.tile.tileimage.shadow.border(style='left:0px;top:0px;width:199px;height:142px;background-position:0px 0px;')
        #TILE_1.tile.tileimage.shadow.border(style='left:208px;top:0px;width:199px;height:142px;background-position:-199px 0px;')
        #TILE_2.tile.tileimage.shadow.border(style='left:416px;top:0px;width:199px;height:142px;background-position:-398px 0px;')
        #TILE_3.tile.tileimage.shadow.border(style='left:624px;top:0px;width:199px;height:142px;background-position:-597px 0px;')
        #TILE_4.tile.tileimage.shadow.border(style='left:208px;top:151px;width:199px;height:142px;background-position:0px -142px;')
        #TILE_5.tile.tileimage.shadow.border(style='left:208px;top:302px;width:199px;height:142px;background-position:-199px -142px;')
        #TILE_6.tile.tileimage.shadow.border(style='left:416px;top:151px;width:199px;height:142px;background-position:-398px -142px;')
        #TILE_7.tile.tileimage.shadow.border(style='left:624px;top:151px;width:199px;height:142px;background-position:-597px -142px;')
        #TILE_8.tile.tileimage.shadow.border(style='left:0px;top:302px;width:199px;height:142px;background-position:0px -284px;')
        #TILE_9.tile.tileimage.shadow.border(style='left:416px;top:302px;width:199px;height:142px;background-position:-199px -284px;')
        #TILE_11.tile.tileimage.shadow.border(style='left:624px;top:302px;width:199px;height:142px;background-position:-597px -284px;')
        #TILE_12.tile.tileimage.shadow.border(style='left:0px;top:453px;width:199px;height:142px;background-position:0px -426px;')
        #TILE_13.tile.tileimage.shadow.border(style='left:208px;top:453px;width:199px;height:142px;background-position:-199px -426px;')
        #TILE_14.tile.tileimage.shadow.border(style='left:416px;top:453px;width:199px;height:142px;background-position:-398px -426px;')
        #TILE_15.tile.tileimage.shadow.border(style='left:624px;top:453px;width:199px;height:142px;background-position:-597px -426px;')
        #rightArrow.tile.border.shadow.transparentTile(style='left:-208px;top:151px;width:199px;height:142px;background-position:-398px -284px;z-index: 1;display: none;')
        #leftArrow.tile.border.shadow.transparentTile(style='left: 208px; top: 151px; width: 199px; height: 142px; z-index: 1; background-position: -398px -284px;')
        #upArrow.tile.border.shadow.transparentTile(style='left: 0px; top: 302px; width: 199px; height: 142px; z-index: 1; background-position: -398px -284px;')
        #downArrow.tile.border.shadow.transparentTile(style='left: 0px; top: 0px; width: 199px; height: 142px; z-index: 1; background-position: -398px -284px;')

