
.vignettes(style='width: 800px; height: 134px; margin: 0 auto;')
  .vignette.vignettebordure(style='float:left')
    img(src='assets/css/colonne.jpg?scale=25;',  width=200, height=134 )
  .vignette.vignettebordure(style='float:left')
    img(src='assets/css/vallon.jpg?scale=25',   width=200, height=134)
  .vignette.vignettebordure(style='float:left')
    img(src='assets/css/20110403143837_rouedentelee.jpg?scale=25',   width=200, height=134)
