include mixins/image.jade
.vignettes(style='width: 800px; height: 134px; margin: 0 auto;')
  +image('assets/css/colonne.jpg?scale=25')
  +image('assets/css/vallon.jpg?scale=25')
  +image('assets/css/20110403143837_rouedentelee.jpg?scale=25')
  +image('assets/css/ecluse.jpg?scale=25')
