include mixins/image.pug

.container-fluid
  //.vignettes(style='width: 800px; height: 134px; margin: 0 auto;')
  //
  .row(style='margin: 0 auto;')
    div(style='width: 90%;margin: 0 auto;')
      +image('assets/css/1.jpg?scale=50')
      +image('assets/css/2.jpg?scale=50')
      +image('assets/css/3.jpg?scale=50')
      +image('assets/css/4.jpg?scale=50')
      +image('assets/css/5.jpg?scale=50')
      +image('assets/css/6.jpg?scale=50')
      +image('assets/css/7.jpg?scale=50')
      +image('assets/css/8.jpg?scale=50')
      +image('assets/css/9.jpg?scale=50')
      +image('assets/css/10.jpg?scale=50')
      +image('assets/css/11.jpg?scale=50')
      +image('assets/css/12.jpg?scale=50')
      +image('assets/css/13.jpg?scale=50')
      +image('assets/css/14.jpg?scale=50')
      +image('assets/css/15.jpg?scale=50')
      +image('assets/css/16.jpg?scale=50')
      +image('assets/css/17.jpg?scale=50')
      +image('assets/css/18.jpg?scale=50')
      +image('assets/css/19.jpg?scale=50')
